# Ignore Python cache
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment
venv/
myenv/

# Ignore development environment files
.env
*.env
*.log
logs/

# Ignore IDE/Editor config files
.vscode/
.idea/

# Ignore unnecessary files
.git/
.gitignore
Dockerfile*
*.md
*.sqlite3
.DS_Store
